<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <p hidden id="css"><link rel="stylesheet" href="./static/style.css"></p>
    <title>clickerclicker</title>
</head>
<body>
    <h1 id="nameplate">Player's clickerclicker</h1>
    <div id="buttons">
        <button id="score">+1 Score</button>
        <button id="multiplier">+1 Multiplier (100 score)</button>
        <button id="sps">+1 Score / second (50 score)</button>
        <button id="max_multiplier">Max Multiplier</button>
        <button id="max_sps">Max Score / second</button>
        <button id="edit_name">Edit name</button>
    </div>
    <div hidden id="godmode">
        <button id="set_score">Set Score</button>
        <button id="set_multiplier">Set Multiplier</button>
        <button id="set_sps">Set Score / second</button>
        <button id="show_css">Show CSS</button>
        <button id="hide_css">HIDE CSS</button>
        <button id="disable_godmode">DISABLE GODMODE</button>
    </div>
    <p id="current_score">Score: </p>
    <p id="current_multiplier">Multiplier: </p>
    <p id="current_sps">Score / second: </p>
    <p id="top_score">Top score: </p>
    <button id="full_reset">FULL RESET</button>
    <hr>
    <p><a href="https://github.com/sandcastle3/clickerclicker">View on GitHub</a></p>
    <script src="./static/index.js"></script>
</body>
</html>